﻿<html>
<head>
    <meta charset="utf-8">
    <title>MyFuture</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
    <link href='static/contactnew.css' rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
</head>


<div class="ui sidebar vertical left inverted menu">
    <a href="/" class="item">Home</a>
    <a href="jobsearch" class="item">Search Jobs</a>
    <a href="contactnew" class="item">Contact user</a>
    <a href="#" class="item">Log out</a>
</div>
<div class="ui basic icon top fixed menu">

    <a id="toggle" class="item">
        <i class="sidebar icon"></i>
        Menu

    </a>


    <a id="right" class="right item">
        <a class="ui button" tabindex="0" href="login"> Log in </a>



        <a href="" class="ui button" tabindex="0">
            Sign up
        </a>

    </a>






</div>

<div class="pusher">
    <div class="ui vertical masthead center aligned segment">
        <div class="ui container">




            <div id="logo">
                <img src="https://myfuture.leedstrinity.ac.uk/styles/dynamic/image/400200/banner.png" alt="myfuture">


            </div>

        </div>

        <div class="pusher">
            <div class="ui vertical masthead center aligned segment">
                <div class="ui text container">
                    <br></br>
                    <h1 class="ui header">

                        Contact

                    </h1>
                    <table class="ui celled table">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Subject</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for contact in data %}
                            <tr>
                                <td data-label="Userame">{{contact.username}}</td>
                                <td data-label="Subject">{{contact.Departmental_Subject}}</td>
                                <td data-label="Email">{{contact.email}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>




                <h2>Contact your departmental tutor</h2>


                <form class="ui form">
                    <div class="field">
                        <label>First Name</label>
                        <input type="text" name="first-name" placeholder="First Name">
                    </div>
                    <div class="field">
                        <label>Last Name</label>
                        <input type="text" name="last-name" placeholder="Last Name">
                    </div>


                    <div class="field">
                        <label>Department</label>
                        <select class="ui search dropdown">
                            <option value="">Select department</option>
                            {% for contact in data %}
                            <option value="AF">{{contact.Departmental_Subject}}</option>

                            {% endfor %}
                        </select>
                    </div>

                    <div class="field">
                        <label>Feedback</label>
                        <textarea></textarea>
                    </div>


                    <button class="ui button" type="submit">Submit</button>
                </form>




            </div>

        </div>






    </div>
    <script>
        $('#toggle').click(function () {
            $('.ui.sidebar').sidebar('toggle');
        });
    </script>
    </body>
</html>
