﻿<html>
  <head>
      <meta charset="utf-8">
      <title>MyFuture</title>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
      <link href='static\jobsearch.css' rel="stylesheet">
      <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
  </head>


  <body>
      <div class="ui sidebar vertical left inverted menu">
          <a href="/" class="item">Home</a>
          <a href="jobsearch" class="item">Search Jobs</a>
          <a href="contactnew" class="item">Contact user</a>
          <a href="#" class="item">Log out</a>
      </div>
      <div class="ui basic icon top fixed menu">

        <a id="toggle" class="item">
            <i class="sidebar icon"></i>
            Menu

        </a>


        <a id="right" class="right item">
            <a  class="ui button" tabindex="0" href="login"> Log in </a>
        


            <a href="" class="ui button" tabindex="0">
                Sign up</a>

            </a>






      </div>






      </div>

      <div class="pusher">
        <div class="ui vertical masthead center aligned segment">
          <div class="ui container">

              <div id="search">
                <div class="ui massive icon input">
                  <input type="text" placeholder="Search...">
                  <i class="circular search link icon"></i>
                </div>
              </div>



          </div>

            <div class="ui text container">/

              <h1 class="ui header">
                      Get searching!
                    </h1>
              <h2>Enter any keywords above</h2>

            </div>



        </div>
        <div class="center aligned row">
            <div id="jobpost">
                
                <div class="ui link cards">
                    {% for job in data %}
                    <div class="card">

                        <div class="content">
                            <div class="header">{{job.title}}</div>
                            <div class="meta">
                                <a>{{job.organisation}}</a>
                            </div>
                            <div class="description">
                                {{job.description}}
                            </div>

                            <br></br>
                            <button class="ui red toggle button">Apply</button>

                        </div>
                        <div class="extra content">
                            <span class="right floated">
                                {{job.days_since_posting}} days ago
                            </span>
                            <span>
                                <i class="star icon"></i>
                                Favorite
                            </span>
                        </div>
                    </div>
                    {% endfor %}
                    

                </div>
            </div>
        </div>






      </div>
      <script>
          $('#toggle').click(function(){
              $('.ui.sidebar').sidebar('toggle');
          });
      </script>
  </body>
</html>
